h1 + div,
#app > p {
    padding-bottom: 8px;
    margin: 0 auto;
}

.container {

}

.main-content {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}

.main-description {
    font-weight: 400;
    color: #777;
    font-size: 1.7em;
}

#app, #legend {
    margin: 0 auto;
}

#legend {
  padding-bottom: 28px;
}

#legend span {
  display:inline-block;
  padding-right: 10px; 
}

.footer { 
    max-width: 1600px;
    padding: 0 28px 18px 28px;
    margin: 0 auto;
    display: flex;
}

#app button,
#app #search {
  margin-bottom: 10px;
}

.overflow,
.secure,
.observation,
.adjustment,
.control,
.off,
.none { 
    height:100%;
    top:0; 
    width:12px; 
    float:left; 
    display:inline; 
    margin-right:6px;
    position:absolute;
    border-radius: 4px 0 0 4px;
}
.leyenda {
    height:12px; 
    width: 12px;
    display:inline-block;
}
.overflow,
._overflow { 
    background-color: #D9A5EF !important; 
}
.secure,
._secure { 
    background-color: #B1D6B1 !important; 
}
.observation,
._observation { 
    background-color: #BBCAF4 !important; 
}
.adjustment,
._adjustment { 
    background-color: #FFFFA5 !important; 
}
.control,
._control { 
    background-color: #FFDFA5 !important;
}
.off,
._off { 
    background-color: #E8A5A5 !important; 
}
.none,
._none { 
    background-color: #EEE !important; 
    border-radius: 5px 0 0 5px;
}

[v-cloak] {
  display: none;
}

.glyphicon {
  font-size: .45em;
  color: yellowgreen;
  opacity: 0.5;
  padding-right: 4px;
  top: 25%;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.glyphicon-circle-arrow-up {
  color: green;
  opacity: 0.5;
}

.glyphicon-circle-arrow-down {
  color: red;
  opacity: 0.5;
}

.list-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-group-item {
    flex: 1 0 300px;
    margin: 10px 5px;
    border-radius: 5px;
    max-width: 300px;
}

@media (min-width: 600px) {
    #app, #legend {

    }
    
}

@media (min-width: 960px) {
    #app, #legend {
        
    }
}

@media (min-width: 1200px) {
   .container {
      width: 960px !important;
      
    }
}

@media (min-width: 1599px) {
   .container {
      width: 1400px !important;
      text-align: center;
    }
}
